<div data-role="view" data-title="Home View" data-layout="main" data-model="app.homeView" data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow">
    
    <h1 data-bind="html: title"></h1>
    
    
        <ul data-role="listview" data-source="app.homeView.dataSource" data-endless-scroll="true"  data-template="foo-template">
        </ul>
        
    
      
    

    <script type="text/x-kendo-template" id="foo-template">
    <span>#: ProductID # </span>
        <br>
    <img src="http://demos.telerik.com/kendo-ui/content/web/foods/#= ProductID #.jpg"><br>
    <span>#: ProductName # </span>
    </script>
    
    
</div>